{
    "as-upstream": false,

    "listen-host": "127.0.0.1",
    "listen-port": 1111,
    "proxy-type": "ss",
    "proxy-timeout": 30,
    "proxy-scope": "bypassCN",
    "bypass-hosts": [],
    "bypass-src-ips": [],
    "http-proxy-host": "",
    "http-proxy-port": 8080,
    "http-proxy-auth-user": "",
    "http-proxy-auth-password": "",
    "ss-host": "",
    "ss-port": 8080,
    "ss-chpier-method": "aes-256-cfb",
    "ss-passwd": "passwd",
    "tls-host": "",
    "tls-port": 443,
    "tls-token": "",
    "socks5-host": "127.0.0.1",
    "socks5-port": 1080,
    "socks5-auth-user": "",
    "socks5-auth-password": "",

    "dns-logging-file": "",
    "cn-dns": "223.6.6.6",
    "fq-dns": "8.8.8.8",
    "enable-dns-cache": true,
    "enforce-ttl": 3600,
    "dns-prefetch-enable": true,
    "dns-prefetch-count":  100,
    "dns-prefetch-interval": 60,
    "disable-qtypes": ["AAAA", "PTR"],
    "force-fq": ["*.cloudfront.net", "*.amazonaws.com"],
    "host-map": {},
    "block-host-file": "",
    "block-hosts": ["*.hpplay.cn"],
    "mode": "local",
    "enable-stat": false,

    "upstream-type": "tls",
    "upstream-tls-server-listen": "0.0.0.0:9999",
    "upstream-tls-key": "server.key",
    "upstream-tls-crt": "server.pem",
    "upstream-tls-token": "",

}
