[Unit]
Description=Systemwide SS proxy for linux
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/snet -config /etc/snet/config.json

[Install]
WantedBy=multi-user.target
